
-- Criar bucket 'logos' se não existir
insert into storage.buckets (id, name, public)
values ('logos', 'logos', true)
on conflict (id) do nothing;

-- Criar bucket 'gallery' se não existir
insert into storage.buckets (id, name, public)
values ('gallery', 'gallery', true)
on conflict (id) do nothing;

-- Adicionar permissões (Policies) para o bucket 'logos' (Permitir tudo para todos - Apenas para facilitar)
create policy "Public Access" on storage.objects for select using ( bucket_id = 'logos' );
create policy "Auth Insert" on storage.objects for insert with check ( bucket_id = 'logos' );
create policy "Auth Update" on storage.objects for update using ( bucket_id = 'logos' );
create policy "Auth Delete" on storage.objects for delete using ( bucket_id = 'logos' );

-- Adicionar permissões (Policies) para o bucket 'gallery'
create policy "Public Access Gallery" on storage.objects for select using ( bucket_id = 'gallery' );
create policy "Auth Insert Gallery" on storage.objects for insert with check ( bucket_id = 'gallery' );
create policy "Auth Update Gallery" on storage.objects for update using ( bucket_id = 'gallery' );
create policy "Auth Delete Gallery" on storage.objects for delete using ( bucket_id = 'gallery' );

-- Adicionar a coluna de comissão na tabela 'funcionarios' se não existir
DO c:\Users\kayky\Desktop\fiden-agency-main
BEGIN
  IF NOT EXISTS (
    SELECT 1 FROM information_schema.columns 
    WHERE table_name='funcionarios' AND column_name='comissao_percentual'
  ) THEN
    ALTER TABLE public.funcionarios ADD COLUMN comissao_percentual numeric DEFAULT 0;
  END IF;
END c:\Users\kayky\Desktop\fiden-agency-main;

